.phone-graphic {
  position: relative;
  width: 250px;
}

.phone-case:before {
  content: '';
  position: absolute;
  background: #f0e9e9;
  width: 5px;
  height: 30px;
  left: -5px;
  top: 140px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.phone-case:after {
  content: '';
  position: absolute;
  background: #f0e9e9;
  width: 5px;
  height: 70px;
  left: 250px;
  top: 140px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.phone-container-outer {
  position: relative;
  border: 1px solid #8f8f8f;
  border-radius: 40px;
  box-shadow: inset 1px 1px 10px #ddd, inset 1px 1px 3px #8f8f8f, 0 0 6px #1059a5;
  background-color: #000;
}

.phone-container-inner {
  position: relative;
  background: #1a1a1a;
  margin: 13px;
  border-radius: 30px;
  overflow: hidden;
}

.phone-container-inner:before {
  content: '';
  position: absolute;
  top: 0;
  background-color: #000;
  width: 110px;
  height: 17px;
  left: calc(50% - 55px);
  border-radius: 0 0 20px 20px;
  z-index: 2;
}

.phone-display-content {
  padding: 0;
  height: 450px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-phase {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
